%h3 AHSIDHIASHDIHASIDHIASHUIDHIHAIDSH

.row
  .col-lg-3.col-md-3
    = render template: 'pages/index'
  -#.col-lg-9.col-md-9
  -#  = render template: 'templates/body'
  -#  = render template: 'templates/grid'

