%h3
  - case @student.class
    - when Student
      = @student.full_name
    - else
      = @student.username

-#%h4
-#  %strong= 'Email:'
-#  = @student.email
-#
-#%h4
-#  %strong= 'Curso/Formação:'
-#  = @student.degree

