- case docs.count
  - when 0
    = puts 'sem docs'
  - else
    %h4 Arquivos para download
    %table.table
      - docs.each do |doc|
        %tr
          %td= doc.name
          %td= doc.description
          %td= link_to 'download', doc.url.url
