%table.table
  - block.contentable.content_videos.order(:title).each do |video|
    %tr.small
      %td= link_to video.title, member_content_video_path(video.id, :block_id => block.id)
      %td= video.description
