.col-md-10.col-lg-10
  -# mostra o video em tela
  = render partial: 'partials/content_videos_show'
  -# listagem dos demais videos do bloco
  = render partial: 'partials/member_video_group' , locals: {:block => @block}


