.col-md-10.col-lg-10
  -# mostra o video em tela
  = render partial: 'partials/content_videos_show'
  - if not @course.online
    -# listagem dos demais videos do bloco apenas para cursos não online
    = render partial: 'partials/member_video_group' , locals: {:block => @block}


