= render partial: 'layouts/my_course_navbar'


- content_for :materials do
  .row
    .col-lg-2
      = render partial: 'my_course/sidebar'
    .col-lg-10
      - @videos.each do |video|
        %ul
          %li
            = link_to  video.title, video.url
            |
            = video.description
