
// Grid Projects MixItUp
#Grid .mix{display: none;}

ul#Grid {
  padding: 0;
  a:hover { text-decoration: none; color: black}
  p:hover { text-decoration: none; color: black}

}

li.filter {cursor: pointer;}

/*LIGHTER*/
.lighter {border: 2px dotted lightgray}
.lighter img {
  -webkit-filter: saturate(.3) ;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.lighter img:hover {
  -webkit-filter: saturate(1);

}

.page_name {padding: 5px 0 5px 0;
  color: black;
}

a:hover {text-decoration: none; color: black !important;}
