@import 'bootstrap-sprockets';
@import 'bootstrap';

// Grid
//$grid-columns:              12;
//$grid-gutter-width:         30px;
//$grid-float-breakpoint:     768px;


// Typography
$font-family-base: 'Ubuntu Mono', helvetica, arial, sans-serif;
$font-size-base: 14px;
$line-height-base: 1.2;

$headings-font-family: 'Open Sans';



// Color
$link-color: black;
$color-theme: black;


// Grid Projects MixItUp
#Grid .mix{display: none;}

ul#Grid {
  padding: 0;
  a:hover { text-decoration: none; color: black}
  p:hover { text-decoration: none; color: black}

}

li.filter {cursor: pointer;}

/*LIGHTER*/
.lighter {border: 1px dotted lightgray}
.lighter img {
  -webkit-filter: saturate(.3) ;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.lighter img:hover {
  -webkit-filter: saturate(1);

}

.nav-bar a { color: white};

.page_thumb {padding: 5px 0 5px 0;color: lightgray;}


