%table.table.table-bordered
  %tr
    %th Nome
    %th Descrição
    %th url
    %th
  - docs_groups.each do |doc|
    %tr
      %td= doc.name
      %td= doc.description
      %td= link_to 'download', doc.url
