- @selected_category.library_files.each do |file|
  .col-xs-6.col-sm-3.col-md-3
    = link_to file.name, '#'
    -#= image_tag file.images.first.url.url(:thumb), class: 'thumbnail'
    -#= link_to 'X', file, :method => :delete, :data => { :confirm => t('views.are_you_sure')}
