- content_for :library_options do
  - block.contentable.categories.each do |category|
    - case
      - when category.library_files.count > 0
        %span.glyphicon.glyphicon-menu-right{"aria-hidden" => "true"}
        = link_to category.name, member_content_block_content_library_group_category_path(block, block.contentable, category)
        %br/
