- content_for :library_options do
  %h4 Biblioteca
  %h5 Categorias:
  %ul
    - block.contentable.categories.each do |category|
      %li= link_to category.name, member_content_block_content_library_group_category_path(block, block.contentable, category)