%table.table
  %tr
    %th Video
    %th Descrição
    %th
    %th
  - content_videos.each do |video|
    %tr
      %td
        = link_to video.title, member_content_video_path(video.id, :course_id => @course.id)
      %td
        = video.description
      %td