- content_for :head do
  / Facebook meta-tags
  -#%meta{content: "#{@course.cover_image}", property: "og:image"}
  -#%meta{content: "#{@course.title}", property: "og:title"}
  %meta{content: "#{ENV['OFFICE_NAME']}", property: "og:site_name"}